
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url('../images/light-grey-terrazzo.png') repeat center center
    fixed;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.feather {
    width: 16px;
    height: 16px;
}

/*
   * Content
*/

[role='main'] {
    padding-top: 48px; /* Space for fixed navbar */
    padding-bottom: 50px;
}

.copyright {
    color: white;
    font-size: 13px;
}

.socialmedia {
    color: white;
}
.footer{
    left: auto!important;
}
